<link href="https://fonts.googleapis.com" /><link href="https://fonts.gstatic.com" /><link href="https://fonts.googleapis.com/css2?family=Cairo&amp;family=Sora:wght@300;700&amp;display=swap" />
<table style="border-collapse: collapse; color: #002f47">
  <tr style="margin: 0; padding: 0; border: 0">
    <td style="margin: 0; padding: 0; border: 0; min-width: 254px">
      <table style="border-collapse: collapse; line-height: 1; margin-left: 20px">
        <tr style="margin: 0; padding: 0; border: 0">
          <td style="font-family: Sora, sans-serif; color: #002f47; padding-bottom: 12px">
            <p style="font-size: 16px; font-weight: 700; margin: 0; padding: 0; border-width: 0">[DisplayName]</p>
            <p style="font-size: 13px; font-weight: 300; margin: 6px 0 0 0; padding: 0; border-width: 0">[JobTitle]</p>
          </td>
        </tr>
        <tr style="margin: 0; padding: 0; border: 0">
          <td style="margin: 0; padding: 0; border: 0">
            <table style="border-collapse: collapse; color: #002f47">
              <td style="margin: 0; padding: 0; border: 0">
                <img height="12px" src="./signatures/comum/mail.svg" alt=" " />
              </td>
              <td style="margin: 0; padding: 0; border: 0">
                <span style="font-family: 'Cairo', sans-serif; font-size: 11px; color: #002f47; font-weight: 300; padding-left: 11px">[EmailAddress]</span>
              </td>
            </table>
          </td>
        </tr>
        <tr style="margin: 0; padding: 0; border: 0">
          <td>
            <table style="border-collapse: collapse; color: #002f47">
              <td style="margin: 0; padding: 0; border: 0; width: 20px">
                <img height="13px" src="./signatures/comum/phone.svg" alt=" " />
              </td>
              <td style="margin: 0; padding: 0; border: 0">
                <span style="font-family: 'Cairo', sans-serif; font-size: 11px; padding-left: 2px; color: #002f47; font-weight: 300">[MainNumber]</span>
              </td>
              <td style="margin: 0; padding: 0; border: 0; width: 16px; padding-left: 10px">
                <img height="12px" src="./signatures/comum/whatsapp.svg" alt=" " />
              </td>
              <td style="margin: 0; padding: 0; border: 0">
                <span style="font-family: 'Cairo', sans-serif; font-size: 11px; color: #002f47; font-weight: 300; padding-left: 4px">[MobileNumber]</span>
              </td>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
